Repository Mikhail2048/properties-maven-plugin, pull requests merged in 2023-05, with the labels that each got.

#6 Implemented inclusion of files by ant patterns
  pom.xml
  src/main/java/io/polivakha/mojo/properties/CircularDefinitionPreventer.java
  src/main/java/io/polivakha/mojo/properties/ExpansionBuffer.java
  src/main/java/io/polivakha/mojo/properties/PropertyResolver.java
  src/main/java/io/polivakha/mojo/properties/ReadPropertiesMojo.java
  src/main/java/io/polivakha/mojo/properties/models/FileAntPatterns.java
  src/main/java/io/polivakha/mojo/properties/utils/PathParser.java
  src/test/java/io/polivakha/mojo/properties/ReadPropertiesMojoTest.java
  src/test/java/io/polivakha/mojo/properties/utils/PathParserTest.java
Labels: enhancement, read-project-properties

#9 Logging existed property
  src/main/java/io/polivakha/mojo/properties/ReadPropertiesMojo.java
Labels: enhancement, read-project-properties

#11 Polishing to get ready for Sonatype Nexus publication
  pom.xml
  src/main/java/io/polivakha/mojo/properties/loader/AbstractPropertiesLoader.java
  src/main/java/io/polivakha/mojo/properties/utils/CollectionUtils.java
  src/main/java/io/polivakha/mojo/properties/utils/PathParser.java
Labels: ci-cd

#13 Feature/gh 12
  src/main/java/io/polivakha/mojo/properties/AbstractWritePropertiesMojo.java
  src/main/java/io/polivakha/mojo/properties/WriteActiveProfileProperties.java
  src/main/java/io/polivakha/mojo/properties/WriteProjectProperties.java
  src/test/java/io/polivakha/mojo/properties/WriteActiveProfilePropertiesMojoTest.java
  src/test/java/io/polivakha/mojo/properties/WriteProjectPropertiesMojoTest.java
Labels: refactoring, in: write-active-profile-properties, in: write-project-properties

#14 Changed Nexus hosts for release
  pom.xml
Labels: dependencies-upgrade, ci-cd
